.container{
  width: 360px;
}

#inputField{
  color: green;
  width: 300px;
  length: 46px;
  border:1px;
  outline: dotted;
  align: center;
  text-align: center;
  font-size: 25px;
}

#addToDo{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  vertical-align: middle;
  align-content: center;
}

#toDoContainer{
  margin-top: 25px;
  color: pink;
}

.paragraph-styling{
  margin: 1px solid black;
  font-size: 25px;
}
